*{
  margin: 0;
  padding: 0;
}

.diceng{
  position: absolute;
  top: 0;
  left: 0;
}

ul{
  list-style: none;
}

li{
  list-style: none;
  margin-top: 20px;
}

.cebianlan img:hover{
  transform: scale(1.1);
}

.mt50{
  margin-top: 50px;
}

.self-inroduction{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 100%;
  overflow: hidden;
  background: rgb(250, 250, 250);
  background-size: 100%;
}

.icon_style{
  width: 20px;
  margin: 10px 40px;
  cursor: pointer;
}

.bottom_li{
  position: absolute;
  bottom: 0%;
  background: rgb(221,221,221);
}

.bottom_icon{
  width: 32px;
  margin:10px 33px 10px 33px;
}

.font_style{
  font-size: 16px;
  vertical-align: middle;
  display: inline-block;
  color: black;
  font-weight: bold;
}

.cebianzhegai{
  position: fixed;
  top: 0;
  left: 100px;
  width: 100px;
  height: 100%;
  overflow: hidden;
  background: rgb(255, 255, 255);
}

.message_div{
  position: absolute;
  top: 20px;
  left: 120px;
  width: 400px;
  height: auto;
  padding: 10px;
  border-radius: 8px;
  background: #f8f166;
  line-height: 26px;
  display: none;
}

/******************* animated ***********************/
